<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Irlume</vendor>
  <vendor_url>https://github.com/archledger/irlume</vendor_url>
  <action id="org.irlume.enroll">
    <description>Add, replace or remove trusted faces</description>
    <message>Authenticate to change trusted faces in Irlume</message>
    <defaults>
      <allow_any>auth_self</allow_any>
      <allow_inactive>auth_self</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
